In [56]:
# from Mobil123 import Mobil123 #class news Scrapper
# import mysql.connector

In [57]:
# obj = Detik()

In [59]:
# links = obj.getIndeksLink([], 1, 'news', 'news')

In [60]:
# detail = obj.getDetailBerita(links[10:13])

In [61]:
# detail

In [ ]:
# con = mysql.connector.connect(user='root', password='',
#                               host='192.168.43.93',
#                               database='news_db')
# cursor = con.cursor()

In [ ]:
# for det in detail:
#     add_article = ("INSERT INTO article"
#               "(post_id, author, pubdate, category, subcategory, content, comments, images, title, tags, url, source) "
#               "VALUES (%(id)s, %(author)s, %(pubdate)s, %(category)s, %(subcategory)s, %(content)s, %(comments)s, %(images)s, %(title)s, %(tags)s, %(url)s, %(source)s)")
#     # Insert article
#     cursor.execute(add_article, det)
#     con.commit()

# cursor.close()

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_sql("Select * from article", con)

In [ ]:
df1

In [ ]:
con.close()

In [ ]:
from datetime import datetime, timedelta
import locale
locale.setlocale(locale.LC_ALL, 'ID')

In [ ]:
yes = datetime.now() - timedelta(1)

In [ ]:
datetime.strftime(yes, '%a %Y-%b-%d %H:%M:%S')