In [1]:
from Rumahku import Rumahku #class news Scrapper
from datetime import timedelta, date, datetime
from IPython.display import clear_output

In [2]:
obj = Rumahku()

In [3]:
obj.getAllBerita([],1)

page  1
http://www.rumahku.com/artikel/berita/page:1/
http://www.rumahku.com/artikel/read/telkom-bangun-kerjasama-dengan-prime-system-untuk-bisnis-properti-era-digital-di-indonesia-415526
Insert berita  Telkom bangun kerjasama dengan Prime system untuk bisnis properti era digital di Indonesia

ProgrammingError: Failed processing pyformat-parameters; Python 'tag' cannot be converted to a MySQL type